<a href="https://colab.research.google.com/github/nsworen/ist210/blob/master/Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction:**

We chose to create a database to help the organizers of a career fair have a structured view of all the data they collect on the students and companies attending. We chose this idea specifically because of how applicable a database was to it. The database stores data on student contact information, student academics, job postings by attending companies, information on the recruiters from each company, and information on booth occupancy. All this information is intertwined, which makes it a perfect candidate to benefit from the queries used with a database. When we originally started brainstorming this idea, we had five tables we wanted to collect information on: Job information, Company information, Student information, Student academic information, and Student’s real world experience. After further exploring the idea, we realized that we needed to make the tables connect better so we decided to replace the student academic information table with a table based solely on their transcripts and discard the real world experience table and replace it with a table called Company booths which stores information on the companies at each booth at the event (Ex: what booth a certain company is at). By doing this, all of our tables flowed nicely together which allowed us to connect all the tables and create our final ER diagram.

# **Final ER Diagram:**

The Job Information table consists of all the job offerings at the career fair. Each job posting will have its own unique PostID. The Student Information table will be connected to the Job Information table through the PostID, so the students can see other postings they may be interested in. Each job posting will have a CompanyID associated with it, therefore the Job Information table can also be connected to the Company Information table. This way, information on companies can be looked up if a certain job posting is selected. The Company Information table is also linked to the Company Booths table by the CompanyID. If a select company is looked up, the user can find which booth they are currently located at. The Transcripts table is linked to the Student Information table by TranscriptID. This allows the user to easily run a query on a student to obtain their personal transcript.  



![](https://raw.githubusercontent.com/nsworen/ist210/master/Final%20ER%20Diagram.png)

# **How we made our database:**

We created our database by using create statements for each table. For the table called JobInfo, attributes include PostID as text and the primary key, the date the job is available as text, the job title as text, the application deadline as text, the hourly rate as a real number, the location of the job as text, and the company name as text. For the StudentInfo table, attributes include the studentID as text and the primary key, the first name of the student as text, the last name as text, their transcript as text, their email as text, and the postID they are interested in as text. For the CompanyInfo table, attributes include the companyID as text and the primary key, the company name as text, the recruiter’s first name as text, the recruiter’s last name as text, and the industry the company is in as text. For the transcript table, the attributes include the transcript number as text and the primary key, the student’s primary major as text, the student’s GPA as a real number, and their graduation year as text. For the CompanyBooth table, attributes include their booth number as text and the primary key, the company ID as text, the date they will attend as text, and the time they will attend as text. Then, five rows of data were inserted into each table using insert statements.

In [0]:
%load_ext sql
%sql sqlite:///CareerFairDatabase.db

'Connected: @CareerFairDatabase.db'

In [0]:
%%sql
DROP TABLE IF EXISTS JobInfo;
create table JobInfo (PostID text primary key, DateAvailable text, JobTitle text, ApplicationDeadline text, HourlyRate real, Location text, Company text)

 * sqlite:///CareerFairDatabase.db
Done.
Done.

[]

In [0]:
%%sql
insert into JobInfo values ('1234567', '2020-06-01', 'ResearchAssistant', '2020-04-26', 14.00, 'NewYork', 'PWC');
insert into JobInfo values ('2345671', '2020-06-08', 'ProductionAssistant', '2020-04-30', 15.00, 'Pittsburgh',	'KPMG');
insert into JobInfo values ('3456712', '2020-06-15', 'ProductDevelopmentIntern', '2020-04-29', 13.00, 'Atlanta', 'P&G');
insert into JobInfo values ('4567123', '2020-05-18', 'MarketingIntern', '2020-04-28', 12.00, 'Dallas', 'EY');
insert into JobInfo values ('5671234', '2020-05-11', 'EngineeringIntern', '2020-04-27', 11.00, 'Pittsburgh', 'IBM');

 * sqlite:///CareerFairDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
select * from JobInfo

 * sqlite:///CareerFairDatabase.db
Done.

[('1234567', '2020-06-01', 'ResearchAssistant', '2020-04-26', 14.0, 'NewYork', 'PWC'),
 ('2345671', '2020-06-08', 'ProductionAssistant', '2020-04-30', 15.0, 'Pittsburgh', 'KPMG'),
 ('3456712', '2020-06-15', 'ProductDevelopmentIntern', '2020-04-29', 13.0, 'Atlanta', 'P&G'),
 ('4567123', '2020-05-18', 'MarketingIntern', '2020-04-28', 12.0, 'Dallas', 'EY'),
 ('5671234', '2020-05-11', 'EngineeringIntern', '2020-04-27', 11.0, 'Pittsburgh', 'IBM')]

In [0]:
%%sql
DROP TABLE IF EXISTS StudentInfo;
create table StudentInfo (StudentID text primary key, FirstName text, LastName text, Transcript text, Email text, PostID text)

 * sqlite:///CareerFairDatabase.db
Done.
Done.

[]

In [0]:
%%sql
insert into StudentInfo values ('298253456', 'Shruthi', 'Kripashankar', '2087403', 'sdf435', '1234567');
insert into StudentInfo values ('309779590', 'Carolyn', 'Logue', '2649738', 'clj589', '2345671');
insert into StudentInfo values ('974509703', 'Eva', 'Rhule', '3750479', 'ejf394', '3456712');
insert into StudentInfo values ('389503759', 'Nik', 'Sworen', '9604759', 'not940', '4567123');
insert into StudentInfo values ('305084729', 'Sponge', 'Bob', '4750375', 'sof938', '5671234');

 * sqlite:///CareerFairDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
select * from StudentInfo

 * sqlite:///CareerFairDatabase.db
Done.

[('298253456', 'Shruthi', 'Kripashankar', '2087403', 'sdf435', '1234567'),
 ('309779590', 'Carolyn', 'Logue', '2649738', 'clj589', '2345671'),
 ('974509703', 'Eva', 'Rhule', '3750479', 'ejf394', '3456712'),
 ('389503759', 'Nik', 'Sworen', '9604759', 'not940', '4567123'),
 ('305084729', 'Sponge', 'Bob', '4750375', 'sof938', '5671234')]

In [0]:
%%sql
DROP TABLE IF EXISTS CompanyInfo;
create table CompanyInfo (Company text primary key, RecruiterFirstName text, RecruiterLastName text, Industry text)

 * sqlite:///CareerFairDatabase.db
Done.
Done.

[]

In [0]:
%%sql
insert into CompanyInfo values ('PWC', 'Anna', 'Smith', 'Tax');
insert into CompanyInfo values ('KPMG', 'Mark', 'Sanders', 'News');
insert into CompanyInfo values ('P&G', 'Sandy', 'Shenoy', 'Production');
insert into CompanyInfo values ('EY', 'Jerry', 'Halbert', 'Marketing');
insert into CompanyInfo values ('IBM', 'Justin', 'McDonald', 'Engineering');

 * sqlite:///CareerFairDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
Select * from CompanyInfo

 * sqlite:///CareerFairDatabase.db
Done.

[('PWC', 'Anna', 'Smith', 'Tax'),
 ('KPMG', 'Mark', 'Sanders', 'News'),
 ('P&G', 'Sandy', 'Shenoy', 'Production'),
 ('EY', 'Jerry', 'Halbert', 'Marketing'),
 ('IBM', 'Justin', 'McDonald', 'Engineering')]

In [0]:
%%sql
DROP TABLE IF EXISTS Transcripts;
create table Transcripts (Transcript text primary key, PrimaryMajor text, GPA real, GraduationYear text)

 * sqlite:///CareerFairDatabase.db
Done.
Done.

[]

In [0]:
%%sql
insert into Transcripts values ('2087403', 'Economics', 3.4, '2020');
insert into Transcripts values ('2649738', 'CyberSecurity', 3.5, '2021');
insert into Transcripts values ('3750479', 'Telecommunications', 3.6, '2022');
insert into Transcripts values ('9604759', 'IST', 3.7, '2023');
insert into Transcripts values ('4750375', 'IndustrialEngineering', 3.8, '2024');

 * sqlite:///CareerFairDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
select * from Transcripts

 * sqlite:///CareerFairDatabase.db
Done.

[('2087403', 'Economics', 3.4, '2020'),
 ('2649738', 'CyberSecurity', 3.5, '2021'),
 ('3750479', 'Telecommunications', 3.6, '2022'),
 ('9604759', 'IST', 3.7, '2023'),
 ('4750375', 'IndustrialEngineering', 3.8, '2024')]

In [0]:
%%sql
DROP TABLE IF EXISTS CompanyBooths;
create table CompanyBooths (BoothNumber text primary key, Company text, Date text, Time text);

 * sqlite:///CareerFairDatabase.db
Done.
Done.

[]

In [0]:
%%sql
insert into CompanyBooths values ('345', 'PWC', '2020-05-01', '14:00');
insert into CompanyBooths values ('346', 'KPMG', '2020-05-02', '13:00');
insert into CompanyBooths values ('347', 'P&G', '2020-05-03', '12:00');
insert into CompanyBooths values ('348', 'EY', '2020-05-04', '11:00');
insert into CompanyBooths values ('349', 'IBM', '2020-05-05', '10:00');

 * sqlite:///CareerFairDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
select * from CompanyBooths

 * sqlite:///CareerFairDatabase.db
Done.

[('345', 'PWC', '2020-05-01', '14:00'),
 ('346', 'KPMG', '2020-05-02', '13:00'),
 ('347', 'P&G', '2020-05-03', '12:00'),
 ('348', 'EY', '2020-05-04', '11:00'),
 ('349', 'IBM', '2020-05-05', '10:00')]

# **Scenario:**

This database will be used by career fair organizers to collect, store, sort, and retriever data pertinent to the career fair. Suppose, for example, a career fair organizer needs to make an advertisement for the career fair. They could easily query the database to retrieve the companies that will be there and when, as well as the jobs they are offering to develop an advertisement. This would be quicker and more accurate than pulling from a paper table. The organizers could also use the count function to query for the number of booths and students to buy enough tables for companies to set up on, or flyers to give out. This will save money because they will not over buy, but also ensure there are enough tables for the recruiters and flyers for the students. This count could help determine if the chosen venue was too big or small for the amount of people attending this event. They could also choose to pass the student count data onto the recruiters, who could use that information to decide how much corporate paraphernalia like pens and lanyards they need to bring to give away. Lastly, queries for company job postings could allow the recruiters to organize the booths with similar companies looking for similar employees together.







### Query #1:

This query will be used to collect information about students who are interested in a specific company, PwC in this case. The team organizing the career fair would be able to retrieve a list of the students’ contact information and be able to email them  about PwC and the job they are interested in.

In [0]:
 %%sql
 SELECT FirstName, LastName, Email, j.Company, s.PostID FROM studentinfo s, jobinfo j, companyinfo c WHERE s.postID = j.PostID and j.Company = c.Company and j.company= "PWC"

 * sqlite:///CareerFairDatabase.db
Done.

[('Shruthi', 'Kripashankar', 'sdf435', 'PWC', '1234567')]


### Query #2:

 
Following the previous query, this query will be used by the career fair team 
to collect information about the job, recruiter and the booth that a 
particular student is interested in. This will allow the team to send students (emails collected in previous query) the important information they would need before attending the career fair.

In [0]:
%%sql 
SELECT j.company, ApplicationDeadline, JobTitle, BoothNumber, Date, Time, RecruiterFirstName, RecruiterLastName 
from Jobinfo j, Companyinfo c, companybooths b 
WHERE j.company = b.company and j.company = c.company and j.company= "PWC"

 * sqlite:///CareerFairDatabase.db
Done.

[('PWC', '2020-04-26', 'ResearchAssistant', '345', '2020-05-01', '14:00', 'Anna', 'Smith')]

### Query #3:
 

This query will be used to pull information about the students such as GPA, graduation year, and major, that are interested in the job postings from PWC. This would allow the team from the career fair to send the students information to recruiters. The recruiters will be able to know who is most likely to visit their table at the career fair and will be able to contact the students before hand with any information about the different opportunities the firm has to offer.

In [0]:
%%sql
SELECT s.transcript, FirstName, LastName, Email, PrimaryMajor, GPA, GraduationYear, j.PostID from studentinfo s, Transcripts t, jobinfo j where j.PostID = s.PostID and s.Transcript= t.Transcript and company = "PWC"

 * sqlite:///CareerFairDatabase.db
Done.

[('2087403', 'Shruthi', 'Kripashankar', 'sdf435', 'Economics', 3.4, '2020', '1234567')]